.contact {
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
    position: relative;

    &--textarea {
      margin-bottom: 0;
    }
  }

  &__label {
    color: $color-text;
    display: block;
    font-weight: bold;
    margin-left: 1px;
    transform: translateY(-5rem);
    transition: transform .3s;
    z-index: -1;

    &--textarea {
      position: absolute;
      top: 2rem;
      transition: all .3s;
    }
  }

  &__input {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid $color-main;
    color: #777;
    transition: border-color .3s;

    &:placeholder-shown {
      border-color: rgba($color-text, .2);

      & + .contact__label {
        transform: translateY(-2.7rem);
      }

      & + .contact__label--textarea {
        top: 2.8rem;
      }
    }

    &:focus {
      border-color: $color-third;
      outline: none;
    }
  }

  &__comment {
    background: $color-error;
    border-radius: $border-radius;
    color: #fff;
    margin-bottom: 2rem;
    margin-top: -2rem;
    padding: 0 .3em;
    transition: height .3s;
    width: max-content;

    &--textarea {
      margin-top: .8rem;
    }
  }

  &__asterix {
    font-weight: bold;

    &--success {
      color: $color-success;
    }

    &--error {
      color: $color-error;
    }
  }

  &__rules {
    opacity: .8;
  }

  &__button {
    margin-right: 2rem;
  }

  &__row-submit {
    align-items: center;
    display: flex;
    margin: 2rem 0 5rem;
  }

  &__form-icons {
    @include box(2.8rem);

    position: relative;
  }

  &__ajax-status {
    @include box(2.8rem);
    
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;

    &.visible {
      opacity: 1;
    }
    
    &--spinner {
      background: transparent;
      border: .65rem $color-third solid;
      border-radius: 50%;
      border-right-color: transparent;
      
      &.visible {
        animation: spinner-rotation .75s infinite linear;
      }
    }
  }

  

}

::placeholder {
  background: transparent;
  opacity: 0;
}

.checkmark {
  stroke-dasharray: 120;

  &.visible {
    animation: draw-checkmark .85s reverse forwards linear;
  }
}


// Keyframes
@keyframes spinner-rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes draw-checkmark {
  from {
    stroke-dashoffset: 0;
  }
  
  to {
    stroke-dashoffset: 120;
  }
}
