.contact {
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
    position: relative;

    &--textarea {
      margin-bottom: 0;
    }
  }

  &__label {
    color: $color-text;
    display: block;
    font-weight: bold;
    margin-left: 1px;
    transform: translateY(-5rem);
    transition: transform .3s;
    z-index: -1;

    &--textarea {
      position: absolute;
      top: 2rem;
      transition: all .3s;
    }
  }

  &__input {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid $color-main;
    color: #777;
    transition: border-color .3s;

    &:placeholder-shown {
      border-color: rgba($color-text, .2);

      & + .contact__label {
        transform: translateY(-2.7rem);
      }

      & + .contact__label--textarea {
        top: 2.8rem;
      }
    }

    &:focus {
      border-color: $color-third;
      outline: none;
    }
  }

  &__comment {
    background: $color-error;
    color: #fff;
    padding: 0 .3em;
    border-radius: $border-radius;
    width: max-content;
    margin-bottom: 2rem;
    margin-top: -2rem;
    transition: height .3s;
    // opacity: 0;

    &--textarea {
      margin-top: .8rem;
    }
  }

  &__asterix {
    font-weight: bold;

    &--success {
      color: $color-success;
    }

    &--error {
      color: $color-error;
    }
  }

  &__rules {
    opacity: .8;
  }

  &__button {
    margin: 2rem 0 3rem;
  }
}

::placeholder {
  background: transparent;
  opacity: 0;
}
