.hero {
  @include box(100%, calc(100vh - 5rem));
  
  display: flex;
  padding-top: $navbar-height;
  
  &__container {
    align-items: flex-start;
    padding: 5rem 0;
  }

  &__button-list,
  &__network {
    display: flex;
  }

  &__network {
    margin-top: 1.5rem;
  }

  &__social-icon {
    transition: transform .05s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }

  &__name {
    color: $color-main;
  }

  &__description {
    padding: 0 $padding-y;
  }

  &__button-list {
    display: flex;
    padding: 4.5rem $padding-y 0 $padding-y;
    width: 100%;
  }

  &__button {
    &:not(:first-of-type) {
      margin-left: 2rem;
    }
  }

  &__illustration {
    background: url('../img/svg/background-hero.svg');
    background-repeat: no-repeat;
    background-position: left 50%;
    // height: 20rem;
    flex-grow: 1;
    width: 100%;
  }

  &__heading {
    position: relative;

    &:before {
      // @include background-linear-gradient(to right, $gradient1);
      background: $color-screen;
      // @include background-linear-gradient(to right, $gradient-device);


      animation: animation-background 1.5s cubic-bezier(.19, 1, .22, 1) forwards;
      animation-delay: 1s;
      border-radius: $border-radius;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      width: 0;
      z-index: 1;
    }

    
    &--2 {
      &:before {
        animation-delay: 2s;
        // background: #444;
        background: $color-main;
        // @include background-linear-gradient(to right, $gradient-screen);

      }
    }
  }

  &__title {
    opacity: 0;
    animation: animation-text .001s linear forwards;
    animation-delay: 1.4s;
    
    &--2 {
        animation-delay: 2.4s;
    }
  }

  &__image {
    flex-grow: 1;
    padding: 0 $padding-y;
    width: 100%;
  }
}

// Keyframes
@keyframes animation-background {
  0% {
    left: 0;
    width: 0;
  }
  
  50% {
    left: 0;
    width: 105%;
  }
  
  100% {
    left: 100%;
    width: 0;
  }
}

@keyframes animation-text {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}