.portfolio {

  &__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
    @include mq(phone-wide) {
      justify-content: space-around;
    }
  }

  &__item {
    @include background-linear-gradient(to bottom, $gradient1);

    padding: 3px;
    border-radius: $border-radius;
    overflow: hidden;
    margin: 1.5rem 0;
    width: 100%;

    & a {
      @include flex-center;
    }

    & img {
      border-radius: $border-radius;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      transition: filter .15s, transform .35s ease-out;
    }

    &:hover,
    &:focus {
      & img {
        -webkit-filter: none;
        filter: none;
        transform: scale(1.1);
      }
    }

    @include mq(phone-wide) {
      width: 45%;
    }

    @include mq(tablet-wide) {
      width: 30%;
    }
  }
}