.card {

  // background: #999;
  border: 1px solid $color-third;
  border-radius: $border-radius;
  margin-bottom: 5rem;
  padding: 2rem;
  position: relative;

  &__list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @include flex-center;
    @include box(7.5rem);

    flex-grow: 1;
    width: calc(100% / 3);
  }

  &__title {
    background: $color-white;
    color: $color-main;
    margin: 0;
    padding: 0 .6em;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  @include mq(phone-wide) {
    height: 100%;
    width: 48%;

    &:first-child {
      width: 100%;

      & .card__item {
        width: calc(100% / 6);
      }
    }
  }

}