.card {
  border: 1px solid $color-third;
  border-radius: $border-radius;
  margin-bottom: 5rem;
  padding: 2rem;
  position: relative;

  &__list {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    @include mq(phone-wide) {
      @supports(display: grid) {
        @include box(100%);
      }
    }
  }

  &__item {
    @include flex-center;
    @include box(7.5rem);

    flex-grow: 1;
    width: calc(100% / 3);
  }

  &__title {
    background: $color-white;
    color: $color-main;
    left: .6em;
    margin: 0;
    padding: 0 .6em;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }


  @include mq(phone-wide) {
    height: 100%;
    width: 48%;
    
    @supports(display: grid) {
      @include flex-center;

      width: 100%;

      &--front {
        & .card__list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          
          & .card__item {
            @include flex-center;
            @include box(100%);
          }
        }
      }
    }
  }
}