// Montserrat font-face
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"),
        url(../fonts/Montserrat-Regular.woff2) format("woff2"),
        url(../fonts/Montserrat-Regular.woff) format("woff");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2"),
        url(../fonts/Montserrat-Medium.woff) format("woff");
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2"),
        url(../fonts/Montserrat-Bold.woff) format("woff");
}

body {
  font: 400 13px/1.6 'Montserrat', sans-serif;
}

.button {
  font-weight: 500;
  font-size: 1.8rem;
}

// Sections

.heading {
  &--3 {
    font-size: 2.2rem;

    &::before {
      font-size: 250%;
      text-transform: capitalize;
    }
  }

  &--4 {
    font-size: 1.8rem;
    font-weight: 500;
  }
}

.hero {
  &__name {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &__job {
    font-size: 2.8rem;
    font-weight: 700;
  }
}

.navbar {
  font-size: 1.75rem;
  font-weight: 500;
}

.contact {
  font-size: 1.6rem;

  &__input {
    font-weight: 500;
  }

  &__comment,
  &__rules {
    font-size: 1.4rem;
  }
}