// Colors
$color-main: #4D1577;
$color-second: #FCC475;
$color-third: #CE5EB6;

$color-white: #FDFDFD;
$color-white-ghost: #F8F8FF;

$gradient1: ($color-main, $color-third, $color-second);
$gradient2: ($color-main, $color-third);
$gradient3: ($color-third, $color-second);

// Sizes
$navbar-height: 5rem;
$border-radius: 3px;
$padding-y: 2rem;


